@charset "UTF-8";
h3 {
  font-size: 7em sans-serif;
  color: red;
}

#block_example {
  width: 250px;
  height: 100px;
  background: green;
}

nav {
  margin-top: 33px;
}

nav .menu_item {
  border: 2px solid green;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 12rem;
}

nav .menu_item .submenu {
  display: block;
  height: 3rem;
  width: 12rem;
  background: yellow;
  position: absolute;
  cursor: pointer;
}

.tabs-wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.tabs-wrapper .tabs-titles-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tabs-wrapper .tabs-titles-wrap .tab {
  width: 100px;
  height: 60px;
  background: #ccc;
  color: #222222;
  text-align: center;
  line-height: 60px;
  font-family: Arial;
  font-size: 20px;
  cursor: pointer;
}

.tabs-wrapper .tabs-titles-wrap .tab.active {
  background: #222;
  color: #ccc;
  cursor: default;
}

.tab-content {
  padding: 30px 20px;
  border: 1px solid #222222;
  display: none;
}

.tab-content.active {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal .modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal .modal_content .close_modal_window {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}

.menu .title::before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}

.menu.open .title::before {
  content: '▼ ';
}

.menu.open ul {
  display: block;
}

#messages-container h3 {
  font-size: 7em sans-serif;
  color: blue;
}

#messages-container .pane {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
  width: 40%;
}

#messages-container .pane .remove-button {
  cursor: pointer;
  position: absolute;
  font-size: 110%;
  top: 0;
  color: darkred;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
}

.carousel {
  position: relative;
  width: 398px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

img {
  width: 130px;
  height: 130px;
  /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */
  display: block;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 390px;
  overflow: hidden;
}

.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: margin-left 250ms;
  transition: margin-left 250ms;
  /* remove white-space between inline-block'ed li */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */